numpy==1.26.4
scipy==1.15.3
torch==2.4.1
torchvision==0.19.1
sapien==3.0.0b1
mplib==0.2.1
toppra==0.6.3
transforms3d==0.4.2
trimesh==4.4.3
open3d==0.18.0
gymnasium==0.29.1
opencv-python==4.11.0.86
PyYAML==6.0.2
Pillow>=9.2
imageio>=2.31
imageio-ffmpeg>=0.4
h5py
termcolor
packaging
setuptools>=68
setuptools-scm
wheel
ninja
warp-lang==1.9.0
